{% extends 'reservas/base.html' %}

{% block title %}Lista de Usuarios{% endblock %}

{% block content %}

<h1>Usuarios</h1>

<a href="{% url 'crear_usuario' %}" class="botones">➕ Crear usuario</a>

<hr>

{% if usuarios %}
    <ul>
        {% for u in usuarios %}
            <li>
                <strong>{{ u.nombre }} {{ u.apellidos }}</strong><br>
                DNI: {{ u.dni }}<br>
                Email: {{ u.email }}<br>
                Teléfono: {{ u.telefono }}
            </li>
            <hr>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay usuarios registrados.</p>
{% endif %}

{% endblock %}