{% extends 'reservas/base.html' %}

{% block title %}Lista de Usuarios{% endblock %}

{% block content %}

<h1>Usuarios</h1>

<a href="{% url 'crear_usuario' %}?token={{ request.GET.token }}" class="botones">➕ Crear usuario</a>

<hr>

{% for u in usuarios %}
    <li>
        <strong>{{ u.nombre }} {{ u.apellidos }}</strong><br>
        DNI: {{ u.dni }}<br>
        Email: {{ u.email }}<br>
        Teléfono: {{ u.telefono }}

        <br><br>

        <a href="{% url 'editar_usuario' u.id %}?token={{ request.GET.token }}">✏️ Editar</a> 
        <a href="{% url 'eliminar_usuario' u.id %}?token={{ request.GET.token }}">🗑️ Eliminar</a>

    </li>
    <hr>
{% endfor %}

{% endblock %}